
.nav {
    grid-area: n;
    background: yellow;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.item {
    padding-top: 10px;
}
.item a{
    text-decoration: none;
}
.active {
    color: blue;

}
